body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
.title-text{
  color: #ff7315;
}

h1 {
  color: #ff7315;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento';
}

h2 {
  color: #ff7315;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #ff7315;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

#experience-gif{
  margin-left: 42%;
}
.experience-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

hr {
  border: dotted black 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #ff7315;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fplayrockwall.com%2F2020%2F04%2Fall-basketball-rims-on-basketball-courts-will-be-removed-temporarily-to-eliminate-social-distancing-violations%2Fbasketballs%2F&psig=AOvVaw2VRHb7gREldoeKkS9HAVrX&ust=1635810990356000&source=images&cd=vfe&ved=0CAgQjRxqFwoTCNCI_Pns9fMCFQAAAAAdAAAAABAQ");
  background: fixed;
  color: #ada198;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.middle-container {
  margin: 100px 0;
  background-color: white;
}
.experience{
  padding-left: 100px;
  padding-right: 100px;
}

.bottom-container {
  background: blue;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #ff7315;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.computer-gif {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.school-gif {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: blue;
  background-image: -webkit-linear-gradient(top, #ff7315, #ff7315);
  background-image: -moz-linear-gradient(top,#ff7315, #ff7315);
  background-image: -ms-linear-gradient(top, #ff7315, #ff7315);
  background-image: -o-linear-gradient(top, #ff7315 #ff7315);
  background-image: linear-gradient(to bottom, #ff7315, #ff7315);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: blue;
  text-decoration: none;
  color: white;
}


#ProfilePicture{
  height: 250px;
  width: 200px;
}
#resumeLink{
  margin:0;
}
